.header {
    background: firebrick;
    margin-bottom: 4.8rem;
    padding: 1.6rem 0;
    color: white;
}

//BEM - Block Element Modifier
.header__link {
    font-weight: 700;
    font-size: 1.6rem;
    margin: 0;
    text-decoration: none;
    padding: 1.6rem;
    color: white;
}

.header__link:active {
    color:#E0E0E0;
}