.header {
    background: #FDFEFE;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    padding: 1.6rem 0;
}

//BEM - Block Element Modifier
.header__link {
    font-weight: 200;
    font-size: 1.6rem;
    margin: 0;
    text-decoration: none;
    padding: 1.6rem;
    color: #922B21;
    border: none;
    background: #FDFEFE;
}

.header__link:focus {
    outline: none;
}

.header__link:active {
    color:#D98880;
}